image: Visual Studio 2017

pull_requests:
  do_not_increment_build_number: false

skip_branch_with_pr: true

build_script:
- ps: .\build.ps1

test: off

artifacts:
- path: '.\artifacts\**\*.nupkg'
  name: Nuget packages
